<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cool Submissions</title>
  

</head>
<body>
<!-- partial:index.partial.html -->
<div id="entry">
	<p>
		<label for="name">Name: </label>

		<input type="text" name="name" v-model="name" id="name" placeholder="Type in your name." />
	<div>{{nameErrorMsg}}</div>
	</p>

	<p>
		<label for="email">Email Address: </label>

		<input type="text" name="email" v-model="email" id="email" placeholder="Type in your e-mail address." />
	<div>{{emailErrorMsg}}</div>
	</p>

	<button type="submit" v-on:click="validate"><b>Submit</b></button>
	<div>{{submit}}</div>
</div>

<br>

<div id="character1">
  <div v-if ="firstname"> Protagonist</div>
  <div v-else>Joker</div>
  <button v-on:click="changename1">Toggle Me</button>
</div>
<br>
<div id="character2">
  <div v-if ="secondname"> Anne</div>
  <div v-else>Panther</div>
  <button v-on:click="changename2">Toggle MeTwo</button>
</div>
<br>
<div id="character3">
  <div v-if ="thirdname"> Ryuji</div>
  <div v-else>Skull</div>
  <button v-on:click="changename3">Toggle MeThree</button>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
